/*#box{
     margin-top: 40px;
            justify-content: center;
            display: flex;
            text-align: center;
        
        width: 50%;         
            gap: 33%;
        }

.box{
    background-color: rgb(232, 205, 139);
    display:inline-block;
    width: 31%;
    height: 100px;
    border: 2px solid black;
    
    
};*/